<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
    <mappers>
        <mapper resource="com/mybatis/userMapper.xml" />
        <mapper resource="com/mybatis/carMapper.xml" />
        <mapper resource="com/mybatis/indentMapper.xml" />
        <mapper resource="com/mybatis/checkMapper.xml" />
    </mappers>
</configuration>